*.i
*.d
*.o
*.asm
*.htm
*.map
*.bin
*.elf
*.ihex
*.hexo
*.hex
*.hexf
*.txt
*.bat
*.session
*.mk
*.db
*.cdkws.*
*.tags
!__bld_cmd/format.bat
*.session
*.log
*.txt

#ignor folder
**/.cdk
**/Obj
**/Lst

#VS Coder
.vscode
*.code-workspace

